/* PieChart.css */

.pie-chart-container {
    display: flex;
    justify-content: space-between;
    width: 900px; /* Adjust the width as needed */
    height: 300px; /* Adjust the height as needed */
    margin: -20px 65px; /* Adjust the margin as needed */
  }
  
  .component2 {
    margin-top: 20px;
    margin-left: 390px; /* Add space to the left of the second component */
  }  